img {
    width:100px  ;
    height: 100px;
    margin: 40px;
}
.mail {
    width: 600px;
    height: 300px;
    background-color: rgb(110, 226, 182);
    margin: auto;
    position:relative
}
.text {
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    margin:5px 0 0 40px
}
.mailApp {
    font-weight: 900;
}
.login {
    width: 330px;
    height: 200px;
    background-color: rgb(240, 243, 240);
    padding: 20px 0 0 20px;
    position: absolute;
    right: 70px;
    top:40px;
    text-align: center;
    color: rgb(161, 159, 159);
}
input {
    width: 300px;
    height: 35px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    border:solid 2px rgb(240, 243, 240);

}
input[type="submit"] {
    width: 305px;
    height: 40px;
    background-color: rgb(110, 226, 182);
}
input[type="text"] {
    background: url(./img/name.png) no-repeat right;
    background-size: 30px;
    background-color: rgb(255, 251, 251);
}
input[type="password"] {
    background: url(./img/password.png) no-repeat right;
    background-size: 30px;
    background-color: rgb(255, 251, 251);
}
input:hover{
    border:solid 2px rgb(110, 226, 182);
}
input:active{
    border:solid 2px rgb(110, 226, 182);
}
.mail .login{
    visibility: hidden;
}
.mail:hover .login {
    visibility: visible;
  }
.login:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent rgb(240, 243, 240);
    border-width: 20px 20px 20px 0;
    top: 10%;
    left: -20px;
}