body {
    color:white
}
p{
    font-size: 40px;
    margin: 0 0 20px 0;
}
.text {
    font-size: 20px;
    text-align: center;
}
.warning {
    width: 500px;
    height: 500px;
    background-color: rgb(65, 63, 63);
    margin: auto;
}
input {
    color: white;
    border-radius: 30px;
    border: solid 1px white;
    width: 400px;
    height: 50px;
    display: block;
    margin: 20px 45px;
    background-color: rgb(65, 63, 63);
    text-align:center;  
    font-size: 18px;
}
input[type="submit"] {
    color:white;
    background-color: #56cc56;
    text-transform:capitalize;
    border: 0;
}
.greenBorder:hover {
    border: solid 1px #56cc56;

}
input:focus{
    outline: none;
}


