body {
    background-color: rgb(86, 86, 124);
}
.exBorder {
    width: 500px;
    height: 500px;
    background-color: rgb(90, 88, 88);
    border: solid white;
    margin: auto;
    position: relative;
}
.inBorder {
    width: 400px;
    height: 400px;
    border: solid white;
    margin: 50px 0 0 50px;
}
.head {
    text-align: center;
    color: white;
    padding-top: 45px;
    width: 250px;
    height: 100px;
    background-color: rgb(90, 88, 88);
    border-radius: 25px;
    box-shadow: inset 0 0 15px 4px hsl(0deg 1% 23%);
    margin-bottom: 30px;
}
.component {
    margin: 0 auto;
    position:relative;
    width: 60%;
    padding-top:50px;
}
input {
    color: white;
    border-radius: 20px;
    border: 0;
    width: 200px;
    height: 30px;
    background-color: rgb(110, 108, 108);
    box-shadow: inset 0 0 15px 4px hsl(0deg 1% 23%); 
    border-style: solid 1px black; 
    padding-left:50px;
    display: inline-block;
    margin-bottom: 20px;
}
input[type=text]{
  background: url(./img/text.jpg) no-repeat;
  background-size: 30px;
}
  input[type=tel]{
    background: url(./img/tel.jpg) no-repeat;
    background-size: 30px;
}
input[type=submit] {
    width: 255px;
    height: 35px;
    background-color:#3c9ff4;
    box-shadow:  0 0 20px 4px hsl(0deg 0% 34%);
    padding:0 25px 0 25px;
}
input:focus{
    outline: none;
}

